<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy"
        content="default-src * gap://ready file:; style-src * 'unsafe-inline'; img-src 'self' data:; script-src * 'unsafe-inline' 'unsafe-eval'">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">

    <link href="../www/css/bootstrap5.0.2/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="../www/js/vender/vue@2.6.14.js"></script>
    <script src="../www/js/vender/axios.js"></script>
    <script src="../www/js/bootstrap/bootstrap.min.js"></script>

    <script src="../www/js/vender/sortable.js"></script>
    <script src="../www/js/vender/moment.min.js"></script>
    <script src="../www/js/questionnaire.js"></script>
    <link rel="stylesheet" href="css/page/A37.css">

    <title>Document</title>
    <style>
        body {
            font-family: "Microsoft JhengHei";
        }

        .borderShow {
            background-color: rgb(207, 234, 255);
            border: 3px solid rgba(255, 255, 255, 0);
        }

        .borderShow:hover {
            border-left: 3px solid rgba(255, 0, 0, 0.5) !important;
        }

        .handle {
            padding: 5px;
            margin-right: 10px;
            cursor: move;
        }

        .pageTitle,
        .pageFooter {
            background-color: rgb(29, 32, 136);
            width: 100vw;
        }

        .pageTitle {
            height: min(max(14vmin, 1rem), 5rem);
        }

        .pageFooter {
            height: min(max(10vmin, 1rem), 3rem);
        }

        .pageTitle>div>div>label,
        .pageFooter>div>button {
            color: white;
            border-right-color: rgb(5, 5, 5);
        }

        .contextFooter>div>button {
            font-size: min(max(3vmin, 0.8rem), 1.2rem);
        }

        .pageTitle>div>div>label {
            font-size: min(max(5vmin, 1rem), 1.5rem);
        }

        .backBtn {
            width: min(max(4vmin, 1.5rem), 20rem);
        }

        .pageBody {
            margin-top: min(max(16vmin, 1rem), 6rem);
            margin-bottom: min(max(12vmin, 1rem), 3rem);
        }

        .questType {
            border-left: 2px solid rgb(255, 255, 255);
            /* border-right: 2px solid rgb(255, 255, 255); */
            font-size: min(max(3vmin, 1rem), 3rem);
        }

        .remark {
            font-size: min(max(0.5vmin, 0.2rem), 0.2rem);
            color: rgb(255, 255, 255);
        }

        .questId {
            font-size: min(max(0.5vmin, 0.2rem), 0.2rem);
            color: rgb(0, 0, 0);
        }

        .questTitle {
            text-align: center;
            background-color: rgb(237, 237, 237);
        }

        #btnAdd{
            width:min(max(4vmin, 1.5rem), 20rem);
            }

        textarea:active,
        textarea:focus,
        textarea:hover,
        input:active,
        input:focus,
        input:hover,
        button:active,
        button:focus,
        .btn.active,
        .btn:active {
            box-shadow: none !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="fixed-top vw-100 pageTitle ">
            <div class="row h-100 d-flex justify-content-between align-items-center">
                <div class="col-auto text-center">
                    <button type="button" class="btn rounded-0" @click="goBack('A37')">
                        <img class="backBtn" src="images/s_backPage.png">
                    </button>
                </div>
                <div class="col text-center">
                    <label>總部通報</label>
                </div>
                <div class="col-2">
                    <img src="../www/images/S30_add.png" id="btnAdd" @click="goBack('A3702')">
                </div>
            </div>
        </div>
        <div id="pageBody" class=" pageBody overView">
            <div>
                <div class="reportTitle">
                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="remark">No. 387</div>
                            <div class="reportMan">吳世明 營業部協理</div>
                            <div class="remark">發布於 2022-03-23 15:16</div>
                        </div>
                        <div class="col-6">
                            <div class="row divRight m-0">
                                <div class="col-4 p-1">
                                    <div class="tag" style="background-color:#EA0000">逾期</div>
                                </div>
                                <div class="col-4 p-1">
                                    <div class="tag" style="background-color:#550088">公開</div>
                                </div>
                                <div class="col-4 p-1">
                                    <div class="tag" style="background-color:#227700">通報</div>
                                </div>
                            </div>
                            <div class="reportdeadlineTime" style="text-align: right">{{question.questDateTimeEnd}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reportContext">
                    <div class="message">
                        <div style="display: flex;justify-content: space-between;">
                            <div class="remark">政令佈達 &gt; 營運通知單</div>
                        </div>
                        <div>{{question.questDesc}}</div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="reportTitle mt-10">
                    <div class="row">
                        <div class="col-12">
                            <div>通報題目</div>
                        </div>
                    </div>
                </div>
                <div class="reportContext">
                    <div class="list-group drag p20">
                        <component v-for="control in formControls" v-bind:is="control.type" v-bind:key="control.id"
                            v-bind:field="control">
                        </component>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 文字題 -->
    <script type="text/x-template" id="form-textbox">
        <div class ="container mt-3" v-bind:id="field.id">
            <div class="rounded">
                <div class="col-12">
                    No.{{field.id}}  {{field.title}}
                    <input type="text" class="form-control  rounded-0 rounded-top topicTextLine" />
                </div>
            </div>
        </div>
    </script>

    <!-- 單選題 -->

    <script type="text/x-template" id="form-radio">
        <div class ="container mt-3" v-bind:id="field.id">
            <div class="rounded">
                <div class="container-body">
                    <div class="col-12">
                        No.{{field.id}}  {{field.title}}
                    </div>
                    <div class="row container-items">
                        <div class="col-12">
                            <div class="input-group align-items-center container-item" :id="'option-'+item.index" v-for="item in field.values">
                                <div class="mt-2">
                                    <input class="form-check-input" type="radio" :id="item.value" :value="item.value" v-model="field.value" >
                                    <label class="form-check-label" for="item.value">{{item.label}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- 多選題 -->
    <script type="text/x-template" id="form-checkbox">
        <div class ="container mt-3" v-bind:id="field.id">
            <div class="rounded">
                    <!-- header -->
                <div class="container-header">
                </div>
                <!-- body -->
                <div class="container-body">
                    <div class="row container-topic">
                        <div class="col-12">
                            No.{{field.id}}  {{field.title}}
                        </div>
                    </div>
                    <div class="row container-items">
                        <div class="col-12">
                            <div class="input-group align-items-center container-item" v-for="item in field.values">
                                <div class="mt-2">
                                    <input class="form-check-input " type="checkbox" :value="item.value" v-model="item.value">
                                    <label class="form-check-label" for="item.value">{{item.label}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- 數字滑桿題 range -->
    <script type="text/x-template" id="form-range">
        <div class ="container mt-3" v-bind:id="field.id">
            <div class="rounded">
                <!-- header -->
                <div class="container-header">
                </div>
                <!-- body -->
                <div class="container-body">
                    <div class="row container-topic">
                        <div class="col-12">
                            No.{{field.id}}  {{field.title}}
                            <input type="range" class="form-range" v-model="field.value" v-bind:min="field.min" v-bind:max="field.max" v-bind:step="field.step">
                        </div>
                    </div>
                </div>
                <!-- footer -->
            </div>
        </div>  
    </script>

    <!-- 數字題 form-number -->
    <script type="text/x-template" id="form-number">
        <div class ="container mt-3" v-bind:id="field.id">
            <div class="rounded">
                <!-- header -->
                <div class="container-header">
                </div>
                <!-- body -->
                <div class="container-body">
                    <div class="row container-topic">
                        <div class="col-12">
                            No.{{field.id}}  {{field.title}}
                            <input type="number" class="form-control  rounded-0 rounded-top topicTextLine" />
                        </div>
                    </div>

                </div>
                <!-- footer -->
            </div>
        </div>  
    </script>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                actionType: 'add',
                isEdit: false,
                questSysId: 0,
                questTypes: [],
                questTypeItems: [],
                curQuestTypeItems: [],
                publicTypes: [],
                pageTypes: [],
                question: {
                    questSysId: 0,
                    questType: '',
                    questTypeD: '',
                    questTitle: '',
                    questDateStart: '',
                    questDateEnd: '',
                    questTimeStart: '',
                    questTimeEnd: '',
                    questDesc: '',
                    questDateTimeStart: '',
                    questDateTimeEnd: '',
                    isVisible: '',
                    hasItems: false,
                    isPush: false,
                    pageType: '',
                    sysUserId: 0
                },
                questFs: [],
                checkResult: true,
                formControls: [],
            },
            mounted() { },
            async created() {

                if (localStorage.question === null) {
                    return
                }

                this.question = JSON.parse(localStorage.question)
                this.formControls = JSON.parse(localStorage.formControls)

                const urlParams = new URLSearchParams(window.location.search);
                this.questSysId = urlParams.get('questSysId');
                this.actionType = urlParams.get('actionType');

            },
            methods: {
                async GetClientMembers() {
                    const param = {
                        questSysId: parseInt(this.questSysId),
                    };
                    let url = "/api/Question/GetClientMembers";
                    resp = await axios.post(url, param);
                    this.selectedUsers = [];

                    if (resp.ResultCode == 10) {
                        this.selectedUsers = resp.Source;
                        this.selectedUsers.map((x) => {
                            x.selected = true;
                        });
                    }
                },
                async onOrganizationChang(org) {
                    if (org.pxOrgId == "") {
                        this.users = [];
                        // 回上階
                        if (org.adminLevel === 3) {
                            this.selectOrg.orgs2 = [];
                            this.selectOrg.orgs1 = [];
                            this.selectOrg.orgs0 = [];
                            this.selectOrg.org2 = "";
                            this.selectOrg.org1 = "";
                            this.selectOrg.org0 = "";
                        }
                        if (org.adminLevel === 2) {
                            this.selectOrg.orgs1 = [];
                            this.selectOrg.orgs0 = [];
                            this.selectOrg.org1 = "";
                            this.selectOrg.org0 = "";
                            this.getUsers(this.selectOrg.org3.orgId, this.selectOrg.org3.pxOrgId);
                        }
                        if (org.adminLevel === 1) {
                            this.selectOrg.orgs0 = [];
                            this.selectOrg.org0 = "";
                            this.getUsers(this.selectOrg.org2.orgId, this.selectOrg.org2.pxOrgId);
                        }
                        if (org.adminLevel === 0) {
                            this.getUsers(this.selectOrg.org1.orgId, this.selectOrg.org1.pxOrgId);
                        }
                        return;
                    }
                    // 下階選單
                    if (org.adminLevel === 3) {
                        this.selectOrg.orgs2 = this.getSelects(2, org.orgId);
                    }
                    if (org.adminLevel === 2) {
                        this.selectOrg.orgs1 = this.getSelects(1, org.orgId);
                    }
                    if (org.adminLevel === 1) {
                        this.selectOrg.orgs0 = this.getSelects(0, org.orgId);
                    }
                    //
                    await this.getUsers(org.orgId, org.pxOrgId);
                },
                async onSelectedUser(user) {
                    var q = this.selectedUsers.find((x) => x.userId === user.userId);
                    if (q == undefined) {
                        user.selected = true;
                        user.isPush = false;
                        this.selectedUsers.push(user);
                    } else {
                        // user.selected = false;
                        this.selectedUsers = this.selectedUsers.filter(
                            (x) => x.userId !== user.userId
                        );
                    }

                    this.users.forEach(user => {

                        let resp = this.selectedUsers.find((x) => x.userId === user.userId);
                        if (user.selected === true && resp === undefined) {
                            user.selected = false
                        }
                    });
                },
                async onSave(flag = false) {
                    let url = '';
                    let param = '';
                    let resp = '';
                    if (this.selectedUsers.length <= 0) {
                        url = `/api/Question/DeleteAllClientMember?questSysId=${this.questSysId}`;
                        resp = await axios.get(url);
                        console.log(resp)
                    } else {
                        url = "/api/Question/SetClientMember";
                        let members = [];
                        for (let row of this.selectedUsers) {
                            let member = {
                                questSysId: this.question.questSysId,
                                sysUserId: row.sysUserId,
                                isPush: false,
                                isReturn: false,
                                isRead: false,
                            };
                            members.push(member);
                        }
                        resp = await axios.post(url, members);
                    }

                    console.log(resp)

                    if (resp.ResultCode !== 10) {
                        alert(resp.Message)
                        return;
                    }
                    //推播
                    this.onPublish(this.question);

                    if (this.actionType === 'add') {
                        window.location.href = 'A37.html';
                    }

                    if (this.actionType === 'fix' && flag === false) {
                        alert('存檔成功')
                    }
                },
                async getOrgs() {
                    const url = "/api/Question/GetOrganizations";
                    resp = await axios.get(url);

                    this.organizations = resp;
                    this.userInfo = getStorageItem('userInfo');

                    this.level.first = this.userInfo.adminLevel;
                    this.level.last = this.userInfo.adminLevel;
                    this.level.deep = this.userInfo.adminLevel;

                    if (this.userInfo.adminLevel == 3) {
                        let orgs = this.organizations.find((x) => x.adminLevel == 3);

                        this.selectOrg.orgs3 = this.getSelects(3, null);
                        this.selectOrg.orgs2 = this.getSelects(2, this.userInfo.orgId);
                        this.selectOrg.org2 = this.selectOrg.orgs2[0];

                        if (orgs !== undefined) {
                            let p = orgs.list.find((x) => x.pxOrgId == this.userInfo.pxOrgId);
                            this.selectOrg.org3 = p;
                        }
                    }
                    if (this.userInfo.adminLevel == 2) {
                        let orgs = this.organizations.find((x) => x.adminLevel == 2);

                        this.selectOrg.orgs2 = this.getSelects(2, this.userInfo.parentOrgId);
                        this.selectOrg.orgs1 = this.getSelects(1, this.userInfo.orgId);
                        this.selectOrg.org1 = this.selectOrg.orgs1[0];

                        if (orgs !== undefined) {
                            let p = orgs.list.find((x) => x.pxOrgId == this.userInfo.pxOrgId);
                            this.selectOrg.org2 = p;
                        }
                    }
                    if (this.userInfo.adminLevel == 1) {
                        let orgs = this.organizations.find((x) => x.adminLevel == 1);

                        this.selectOrg.orgs1 = this.getSelects(1, this.userInfo.parentOrgId);
                        this.selectOrg.orgs0 = this.getSelects(0, this.userInfo.orgId);
                        this.selectOrg.org0 = this.selectOrg.orgs0[0];

                        if (orgs !== undefined) {
                            let p = orgs.list.find((x) => x.pxOrgId == this.userInfo.pxOrgId);
                            this.selectOrg.org1 = p;
                        }
                    }
                    if (this.userInfo.adminLevel == 0) {
                        let orgs = this.organizations.find((x) => x.adminLevel == 0);

                        this.selectOrg.orgs0 = this.getSelects(0, this.userInfo.parentOrgId);

                        if (orgs !== undefined) {
                            let p = orgs.list.find((x) => x.pxOrgId == this.userInfo.pxOrgId);
                            this.selectOrg.org0 = p;
                        }
                    }
                    this.getUsers(this.userInfo.orgId, this.userInfo.pxOrgId);
                },
                async getUsers(orgId, pxOrgId) {
                    let params = {
                        pxOrgId: pxOrgId,
                        parentOrgId: orgId,
                    };
                    let url = `/api/Question/GetUsers`;
                    let resp = await axios.post(url, params);

                    if (resp.ResultCode != 10) {
                        alert(resp.Message);
                        return;
                    }
                    if (resp.Source == null) {
                        this.users = [];
                    } else {
                        this.users = resp.Source;
                    }
                    // 重新選取人員
                    for (let user of this.users) {
                        let selected = this.selectedUsers.filter(
                            (x) => x.sysUserId == user.sysUserId
                        );
                        if (selected.length > 0) {
                            user.selected = true;
                        }
                    }
                },
                getSelects(adminLevel, parentOrgId) {
                    let pId = "000";

                    if (parentOrgId != null) {
                        pId = parentOrgId;
                    }
                    const orgs = this.organizations.filter(
                        (x) => x.adminLevel === adminLevel && x.parentOrgId === pId
                    );
                    if (orgs == null) {
                        return;
                    }
                    if (orgs[0] == null) {
                        return;
                    }

                    let org = orgs[0].list[0];
                    var instance = JSON.stringify(org);
                    var obj = JSON.parse(instance);
                    obj.orgId = "0";
                    obj.userId = 0;
                    obj.userName = "";
                    obj.pxOrgId = "";
                    obj.orgName = "";
                    obj.orgUserId = "";

                    let o = orgs[0].list.filter(x => x.orgId === '0')

                    if (o.length <= 0) {
                        if (adminLevel == 3) {
                            obj.pxOrgName = "請選擇部";
                        }
                        if (adminLevel == 2) {
                            obj.pxOrgName = "請選擇處";
                        }
                        if (adminLevel == 1) {
                            obj.pxOrgName = "請選擇區";
                        }
                        if (adminLevel == 0) {
                            obj.pxOrgName = "請選擇店";
                        }
                        orgs[0].list.unshift(obj);
                    }
                    return orgs[0].list;

                },
                async onPublish(item) {
                    let targetSysUserId = 0;

                    if (item.sysUserId !== undefined) {
                        targetSysUserId = item.sysUserId;
                    }
                    const questPush = {
                        questSysId: this.questSysId,
                        sourceSysUserId: item.creatUser,
                        sourceUserId: item.userId,
                        targetSysUserId: targetSysUserId,
                        apiUserId: 'PXERP',
                        apiPassword: '4h3X4SzkDk',
                        pushTypeId: 'QA01',
                        clientIp: '',
                        callStarTime: ''
                    };
                    let url = "/api/Question/PublishQuestions";
                    let resp = await axios.post(url, questPush);
                    if (resp.ResultCode != 10) {
                        alert(resp.Message);
                        return;
                    }
                },
                async goBack(name) {
                    console.log(222)
                    let para = ''
                    // await this.onSave(true);
                    if (this.actionType === 'fix') {
                        name = 'A3702'
                    }
                    // let para = `questSysId=${this.questSysId}&actionType=${this.actionType}`;
                    goPage(name, para)
                }
            },
        });
        vm.$mount('#app');
    </script>
</body>

</html>